body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 115, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1681 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:12px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1256px;
  visibility:hidden;
  white-space:nowrap;
}
#u1683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1683 {
  position:absolute;
  left:0px;
  top:12px;
  width:1260px;
  height:103px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:44px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:121px;
}
#u1685 {
  position:absolute;
  left:-4px;
  top:12px;
  width:301px;
  height:121px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:52px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1687 {
  position:absolute;
  left:960px;
  top:22px;
  width:300px;
  height:67px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  word-wrap:break-word;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1689 {
  position:absolute;
  left:-4px;
  top:143px;
  width:1260px;
  height:19px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:2px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:70px;
  background:inherit;
  background-color:rgba(11, 152, 224, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1691 {
  position:absolute;
  left:0px;
  top:154px;
  width:1260px;
  height:70px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:27px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:70px;
}
#u1693 {
  position:absolute;
  left:134px;
  top:154px;
  width:1000px;
  height:70px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:27px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695 {
  position:absolute;
  left:463px;
  top:51px;
  width:343px;
  height:25px;
}
#u1695_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1696 {
  position:absolute;
  left:820px;
  top:51px;
  width:97px;
  height:25px;
}
#u1697 {
  position:absolute;
  left:2px;
  top:4px;
  width:93px;
  word-wrap:break-word;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:120px;
  background:inherit;
  background-color:rgba(218, 241, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1699 {
  position:absolute;
  left:0px;
  top:821px;
  width:1260px;
  height:120px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:52px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u1701 {
  position:absolute;
  left:283px;
  top:836px;
  width:130px;
  height:34px;
}
#u1702 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:32px;
  background:inherit;
  background-color:rgba(218, 241, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1703 {
  position:absolute;
  left:423px;
  top:837px;
  width:442px;
  height:32px;
}
#u1704 {
  position:absolute;
  left:2px;
  top:8px;
  width:438px;
  word-wrap:break-word;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:37px;
  background:inherit;
  background-color:rgba(218, 241, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1705 {
  position:absolute;
  left:271px;
  top:892px;
  width:598px;
  height:37px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:10px;
  width:594px;
  word-wrap:break-word;
}
